name: Build and Run

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: setup and run linter
      run: |
        pip install cpplint
        cpplint  --filter=-legal --linelength=100 *.cpp
    - name: setup cmake
      run: sudo apt install cmake

    - name: build
      run: |
        cmake -S . -B build
        cmake --build build
      
    - name: FalsePositive fail
      run: |
        bash .github/workflows/expectfail.sh build/FalsePositive
